@import "tailwindcss";

@font-face {
  font-family: 'CustomFont';
  src: url('../public/Sora/Sora-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Custom colors */
:root {
  --primary-color: #d9c4a7; /* Beige */
  --secondary-color: #a9c5c3; /* Light Blue */
  --background-color: #fffde5; /* Light Gray */
  --text-color: #1F2937; /* Dark Gray */
}

/* Custom fonts */
body {
  font-family: 'CustomFont', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Header styles */
header {
  background-color: var(--primary-color);
  color: white;
  font-size: large;
}

/* Footer styles */
footer {
  background-color: var(--primary-color);
  color: white;
  padding: 0;
}

/* Button styles */
button {
  background-color: var(--secondary-color);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--primary-color);
}

/* Custom container styles */
.container {
  max-width: 640px;
  margin: 0 auto;
  padding: 1rem;
}

.logo {
  height: 70px; /* Adjust the height */
  width: 70px;  /* Adjust the width */
  margin: 0 auto;
  transform: translateY(6px); /* Shift down by 10px */
}

/* Combined bouncing and stretching animation */
@keyframes bounce-stretch {
  25%, 75% {
    transform: translateY(0) scale(1.1, 0.9);
  }
  50% {
    transform: translateY(-22px) scale(1, 1);
  }
}

.animate-bounce-stretch {
  animation: bounce-stretch 1s infinite;
}